<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.music.api.mapper.MusicInfoMapper">

    <select id="selectMusicInfoListToLikeNum" resultType="com.hk.music.api.entity.MusicInfo">
        select distinct mi.*
        from music_info mi
                 join music_my_favorite mf on mi.id = mf.music_id
        where date(mi.create_time) = curdate() - interval 1 day
        order by mi.like_count desc;
    </select>

    <select id="selectSingerMusicPage" resultType="com.hk.music.api.entity.MusicInfo">
        select
            m.`id`,
            m.`music_name`,
            m.`cover_image`,
            m.`author`,
            m.`user_id`,
            m.`play_count`,
            m.`like_count`,
            m.`collect_count`,
            m.`voice_type`,
            m.`create_type`,
            m.`lyric_content`,
            m.`lyric_url`,
            m.`video_url`,
            m.`duration`,
            m.`artist_id`,
            m.`music_desc`,
            m.`create_time`,
            if ( ifnull( ff.`user_id`, 0 ) = #{userId}, 1, 0 ) AS favorite,
            m.`is_new`
        from
            music_info m
                LEFT JOIN music_my_favorite ff ON m.id = ff.music_id
                AND ff.user_id = #{userId}
                AND ff.del_flag = 0
        where
            m.artist_id = #{singerId}
        order by
            m.id desc
    </select>

    <select id="selectMusicHistoryPage" resultType="com.hk.music.api.entity.MusicInfo">
        select h.id as history_id, i.id, i.user_id, i.music_name,i.cover_image,i.cover_large_image,
               i.author, i.lyric_url, i.video_url,i.duration,i.create_type,
               h.create_time,if(f.user_id is null,0,1) is_favorite from  `music_info` as i join  `music_history` as h on i.id = h.music_id
              left join music_my_favorite as f on f.user_id = h.`user_id` and f.music_id =  h.music_id and f.del_flag = 0
        where h.del_flag = 0 and h.user_id = #{userId} order by h.id desc
    </select>
</mapper>